body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #4d9f0c, #5f27cd);
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 350px;
    position: relative;
    animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    position: relative;
    margin-bottom: 30px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    color: #333;
    font-size: 16px;
    transition: all 0.3s;
}

.input-container label {
    position: absolute;
    top: 10px;
    left: 0;
    pointer-events: none;
    transition: all 0.3s;
    color: #aaa;
}

.input-container input:focus {
    border-bottom: 2px solid #5f27cd;
}

.input-container input:focus + label,
.input-container input:valid + label {
    top: -20px;
    left: 0;
    color: #5f27cd;
    font-size: 12px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #4d9f0c;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.btn:hover {
    background-color: #3e7b0a;
}
